.container .board {
    position: relative;
    display: flex;
    background-color: #0071ff;
    margin: auto;
    width: 85%;
    border: 3px solid black;
    padding: 10px;
    box-shadow:-1px 2px 0.2em grey;
}