.board .cell {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin:10px;
    background-color: white;
}
.board .cell.black {
    background-color: black;
    animation: changeBlack 0.5s linear;
}
.board .cell.red {
    background-color: red;
    animation: changeRed 0.5s linear;
}

@keyframes changeRed {
    0% { background-color: white}
    99% { background-color: white}
    100% { background-color: red}
}
@keyframes changeBlack {
    0% { background-color: white}
    99% { background-color: white}
    100% { background-color: black}
}